.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
  }


.mat-expansion-panel-header-description{
  width: 100%;
  height: 40px;
  padding-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;

  flex-direction: column;
  cursor: pointer;
  border-radius: 5px;
}

.mat-expansion-panel-header-description:hover{
    background-color: rgba(7, 68, 59, 0.267);

}
.mat-expansion-panel{
  width: 270px;
}




