
<div class="container"   >
    <div class="container-card" >
        <div class="card" *ngFor="let c of dataLibri">
          <div class="title">
              <h1>Titulo : {{c.nomeLibro}}</h1>
          </div>
          <div class="content">

              <div class="image">
                <img src="{{c.imageLibro}}" alt="">
              </div>
              <div class="categoria">
                  <h2>Categoria : {{c.categoria.nomeCategoria}}</h2>
              </div>
              <div class="prezzo">
                  <h2>Prezzo : {{c.prezzoLibro}} :00 </h2>
              </div>
          </div>
        </div>
    </div>
</div>

  